$primary-color: #01c8b3;
$secondary-color: #ff4453;
$color-text: #49546b;
$dash-background: #2b2f48;
$dash-title-color: #424869;

.login-div {
    display: flex;
    width: 65%;
    margin: auto;
    height: 500px;
    -webkit-box-shadow: -2px 6px 9px 4px rgba(160, 145, 147, 1);
    -moz-box-shadow: -2px 6px 9px 4px rgba(160, 145, 147, 1);
    box-shadow: -2px 6px 9px 1px rgba(160, 145, 147, 1);
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .formLogin {
            width: 100%;

            .title {
                text-align: center;
                font-size: 2.2rem;
                font-weight: 800;
                letter-spacing: 5px;
            }
            .input-login {
                display: block;
                width: 75%;
                margin: auto;
                border: none;
                border: 2px solid #ccc;
                padding: 10px;
                color: $color-text;
                font-size: 1.1em;
                border: 1px solid #ccc;
                &:focus {
                    border: 1px solid $primary-color;
                }
                &.error {
                    color: red;
                    border: 1px solid red;
                }
            }
            .button-login {
                display: block;
                width: 50%;
                color: #000;
                margin-top: 1rem;
                padding: 1rem;
                margin: 1.5rem auto 0px auto;
                background-color: $secondary-color;
                color: white;
                border: none;
                border-radius: 2rem;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
    .info-login {
        box-sizing: border-box;
        width: 100%;
        background: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        h1 {
            color: #fff;
            font-size: 2.5rem;
            text-align: center;
            text-transform: uppercase;
        }
        span {
            color: #fff;
            font-size: 1rem;
        }
    }
}

.dashboard {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 100vh;
    height: 100%;
    .dash {
        color: white;
        background: $dash-background;

        .dash-group {
            padding-bottom: 1rem;
            .dash-item {
                display: block;
                color: white;

                margin: 0;
                padding: 1rem 1rem 0.5rem 2rem;
                text-decoration: none;
                font-weight: 500;
                font-size: 0.8rem;
                text-transform: capitalize;
                cursor: pointer;
                transition: 0.2s ease all;
                &:hover {
                    background: $dash-title-color;
                    border-left: 5px solid $primary-color;
                }
            }
        }
        .title-dash {
            padding: 1.5rem;
            color: #424869;
            font-weight: 400;
            font-size: 0.7rem;
            text-transform: uppercase;
        }
    }
}
