@import "./components/styles/variables";

$text-color: #49546b;
.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    .logo {
        .logo-link {
            text-decoration: none;
            color: $primary-color;
            font-size: 36px;
            font-weight: 400;
        }
    }
    .links {
        .link {
            margin-right: 40px;
            font-size: 22px;
            color: #49546b;
            text-decoration: none;
        }
    }
}
.info {
    width: 40%;
}
