.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    @include media(sm) {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        margin-bottom: 3rem;
        align-items: center;
    }
    .logo {
        margin: 10px 0px;
        .logo-link {
            text-decoration: none;
            color: $primary-color;
            font-size: 36px;
            font-weight: 400;
            outline: none;
        }
    }
    .links {
        @include media(sm) {
            display: flex;
            flex-direction: row;
        }
        .link {
            margin-right: 40px;
            font-size: 1.2rem;
            color: #49546b;
            text-decoration: none;

            &.active {
                color: $primary-color;
                font-size: 1.3rem;
                border-bottom: 5px solid $primary-color;
            }
            @include media(sm) {
            }
        }
    }
}
.info {
    width: 40%;
}
